
.sidebar h3{
  color: white;
}

.aboutdescription {
  background-color: #91959c;
  padding: 10px;
  border-radius: 10px;
  height: 250px ;
}

.aboutdescription a {
  color: white;
}

.centerup {
  align-items: center;
}

.regional_profit_toprow {
  background-color: #91959c;
  padding: 10px;
  border-radius: 10px;
}

.aboutcols {
  background-color: #343a40;
  height: 60px;
  border-radius: 10px;
  padding-top:10px;
}
